{
  email {$ACME_EMAIL}
}

{$PUBLIC_CHAT_DOMAIN:chat.localhost} {
  encode gzip zstd
  reverse_proxy librechat:3080
}

{$NEW_API_ADMIN_DOMAIN:new-api.localhost} {
  encode gzip zstd
  reverse_proxy new-api:3000
}

{$AUTH_PUBLIC_DOMAIN:auth.localhost} {
  encode gzip zstd
  reverse_proxy casdoor:8000
}
